.navbar {
    width: 100%;
    height: 55px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3;
    top: 0;
    background: white;
    box-shadow: 0 1px 10px hsl(0, 0%, 90%);
}

.navbar-left {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.navbar-bars-icon {
    margin-right: 25px;
    color: rgb(90, 90, 90);
    font-size: 21px;
    cursor: pointer;
}

.navbar-bars-icon:hover {
    color: rgb(65, 65, 65);
}

.navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.navbar-logo svg {
    color: red;
    font-size: 22px;
    margin-right: 3px;
}

.navbar-logo span {
    font-weight: bold;
    font-size: 21px;
}



.navbar-search {
    display: flex;
    width: 36%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 2px;
}

.navbar-search-input  {
    height: 28px;
    width: 90%;
    font-size: 14px;
}

.navbar-search-input input {
    text-indent: 10px;
    width: 100%;
    height: 100%;
}

.navbar-search-button {
    background: rgb(245, 245, 245);
    border-left: 1px solid lightgray;

}

.navbar-search-button:hover {
    background: rgb(240, 240, 240);
}

.navbar-search-button:hover svg {
    color: black;
}

.navbar-search-button svg {
    color: rgb(140, 140, 140);
    padding: 6.5px 22px;
    font-size: 13.5px;
}



.navbar-right {
    margin-right: 30px;
    display: flex;
    align-items: center;
    cursor: default;
}

.navbar-upload-video {
    font-size: 21px;
    color: rgb(100, 100, 100);
    cursor: pointer;
}

.navbar-upload-video:hover {
    color: rgb(80, 80, 80);
}

.user-signin {
    color: rgb(80, 80, 255);
    border: 1px solid rgb(80, 80, 255);
    padding: 4.5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-signin svg {
    font-size: 22px;
    margin-right: 6px;   
}

.user-icon {
    background: green;
    border-radius: 100%;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    height: 34px;
    width: 34px;
    line-height: 34.5px;
    position: relative;
    cursor: pointer;
    margin-left: 25px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}



.user-dropdown {
    position: absolute;
    border: 1px solid lightgray;
    width: 275px;
    right: 23px;
    top: 63px;
    display: flex;
    flex-direction: column;
    box-shadow: 8px 2px 18px -4px rgba(0, 0, 0, 0.2), -8px 2px 18px -4px rgba(0, 0, 0, 0.2);
}

.user-dropdown-header {
    border-bottom: 1px solid lightgray;
    display: flex;
}

.user-dropdown-icon {
    margin: 12px;
    padding: 2px;
    margin-right: 17px;
    cursor: default;
}

.user-dropdown-info {
    display: flex;
    flex-direction: column;
    margin: 13px 0px;
}

.user-dropdown-username {
    font-weight: bold;
    margin-bottom: 2px;
}

.user-dropdown-links {
    margin: 9px 0px;
}

.user-dropdown-link {
    display: flex;
    align-items: center;
    color: rgb(115, 115, 115);
    width: 100%;
    font-size: 18px;
}

.user-dropdown-link:hover {
    background: rgb(220, 220, 220);
}

.user-dropdown-link-icon {
    padding: 10px;
    margin: 0px 9px;
}
