.session-form {
    margin: auto;
    margin-top: 100px;

    width: 425px;
    height: 500px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    border: 1px solid lightgrey;
    border-radius: 7px;
    // box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    box-shadow: 8px 2px 18px -4px rgba(0, 0, 0, 0.2), -8px 2px 18px -4px rgba(0, 0, 0, 0.2);

}

.session-form-header {
    margin: 35px 35px 0px 35px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.session-form-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.session-form-logo svg {
    color: red;
    font-size: 35px;
    margin-right: 7px;
}

.session-form-logo span {
    font-weight: bold;
    font-size: 30px;
}

.session-form-type {
    display: flex;
    justify-content: center;
    padding-top: 17px;
    font-size: 25px;
}

.session-form-prompt {
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.session-form-body {
    height: 215px;
    margin: 20px 35px 35px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.session-form-input {
    display: flex;

    height: 50px;

    border: 1px solid lightgrey;
    border-radius: 4px;
}

.session-form-input input {
    text-indent: 15px;
}

.session-form-errors-list {
    display: flex;
    flex-direction: column;
    margin: 0px 35px;
}

.session-form-error {
    color: red;
    font-size: 13px;
    align-items: center;
    margin: auto;
}

.session-form-footer {
    margin: 35px;
}

.session-form-links-and-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.session-form-link {
    color: rgb(80, 80, 255);
}

.session-form-link:hover {
    text-decoration: underline;
}

.session-form-button {
    border: 1px solid rgb(80, 80, 255);
    border-radius: 5px;
    padding: 10px 25px;
    color: white;
    background-color: rgb(80, 80, 255);

    transition-property: box-shadow;
    transition-duration: 0.3s;
}

.session-form-button:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    background-color: rgb(95, 95, 255);
}