.small-side-menu {
    top: 55px;
    width: 65px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(242, 242, 242);
}

.small-side-menu .side-menu-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(100, 100, 100);
    height: 75px;
    width: 66px;
}

.small-side-menu .side-menu-link svg {
    font-size: 16px;
    margin-bottom: 2px;
}

.small-side-menu .side-menu-link span {
    font-size: 13px;
}

.side-menu-link:hover {
    background: rgb(220, 220, 220);
}



.large-side-menu {
    top: 55px;
    width: 170px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(242, 242, 242);
}

.large-side-menu .side-menu-link {
    display: flex;
    align-items: center;
    color: rgb(100, 100, 100);
    height: 60px;
    width: 170px;
}

.large-side-menu .side-menu-link:first-child {
    margin-top: 5px;
}

.large-side-menu .side-menu-link svg {
    font-size: 16px;
    margin-bottom: 2px;
    padding: 25px 30px 25px 25px;
}

.large-side-menu .side-menu-link span {
    font-size: 17px;
}