.video-show-content {
    display: flex;
}

.video-show-left-col {
    margin-top: 55px;
    padding: 25px 25px 25px 40px;
}

.video-player {
    max-width: 900px;
    outline: none;
    background: black;
}

.video-show-details {
    padding-top: 15px;
}

.video-show-details-top {
    border-bottom: 1px solid lightgray;
}

.video-title-edit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.video-title {
    font-size: 20px;
}

.video-edit-button {
    border: 1px solid rgb(80, 80, 255);
    font-size: 13.5px;
    border-radius: 5px;
    position: relative;
    bottom: 2px;
    padding: 4px 25px;
    color: white;
    background-color: rgb(80, 80, 255);
    transition-property: box-shadow;
    transition-duration: 0.3s;
}

.video-edit-button:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    background-color: rgb(95, 95, 255);
}

.video-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    color: rgb(100, 100, 100);
    padding: 7px 0 22px 0;
}

.video-left-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.video-creation-date {
    font-size: 14px;
    color: rgb(100, 100, 100);
}

.video-likes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.video-likes > * {
    padding: 0 4px;
    position: relative;
    top: 7px;
}

.video-likes svg {
    font-size: 18px;
}

.video-thumbs-up {
    position: relative;
    bottom: 1px;
}

.video-thumbs-down {
    position: relative;
    padding-left: 6px;
    top: 1.5px;
}

.active {
    color: rgb(80, 80, 255);
}

.video-show-details-bottom {
    border-bottom: 1px solid lightgray;
    padding-top: 15px;
}

.video-uploader-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.video-uploader-icon {
    flex-shrink: 0;
    background: #3e9401;
    border-radius: 100%;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    height: 34px;
    width: 34px;
    line-height: 34.5px;
    position: relative;
    margin-right: 10px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.video-uploader-username {
    font-weight: bold;
    margin-left: 1.5px;
}

.video-description {
    padding: 15px 0 20px 46px;
    color: rgb(25, 25, 25);
    font-size: 14px;
    max-width: 850px;
}

// video show index and index items

.video-show-right-col {
    margin-top: 55px;
    padding: 25px 25px 25px 0px;
}

.video-show-index-up-next {
    margin-bottom: 15px;
}

.video-show-index-link:first-child .video-show-index-item {
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.video-show-index-link:nth-child(2) .video-show-index-item {
    padding-top: 12px;
}

.video-show-index-item {
    display: flex;
    flex-direction: row;
    margin: 8px 0;
    cursor: pointer;
}

.video-show-index-item-thumbnail img {
    height: 129px;
    width: 210px;
}

.video-show-index-item-details {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.video-show-index-item-title {
    font-weight: bold;
    font-size: 15px;
}

.video-show-index-item-uploader-username {
    font-size: 14px;
    color: rgb(100, 100, 100);
    padding: 7px 0 4px 0;
}

.video-show-index-item-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(100, 100, 100);
}

.video-show-index-item-views-count {
    font-size: 14px;
}
